@import "bourbon";
@import "neat";
@import "components/_menu-button";
@import "components/_search-bar";

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    color: white;
    background: black;
}
